root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,h}]
indent_size = 4
max_line_length = 100

[*.{ts,tsx,js,json,md,yml,yaml}]
indent_size = 2

[Makefile]
indent_style = tab

[*.{bat,cmd,ps1}]
end_of_line = crlf

[*.sh]
end_of_line = lf
